<header id="header" class="header">
  <!-- Navigation -->
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <div class="container-fluid">
      <label>
        <img src="http://free-minigames.com/uploads/pikabu-unichtozhitel-skuki.png" width="50" height="50" class="align-top " alt="">
        <a class="navbar-brand" href="index.html">MyForum</a>
      </label>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse ml-auto" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="home" routerLinkActive="active" href="index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="newPost" routerLinkActive="active" [hidden]="!(authService.user | async)" href="newPost.html">New Post</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="help" routerLinkActive="active" href="help.html">Help</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="modal" routerLinkActive="active" *ngIf="!(authService.user | async)" data-target="#exampleModalLong">Sign In</a>
            <a class="nav-link" data-toggle="modal" routerLinkActive="active" data-target="#exampleModalLong" *ngIf="authService.user | async"><small>{{ (authService.user | async)?.email }}</small></a>

          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>