  /* Style the form - display items horizontally */
  .form-inline { 
    justify-content: space-between;
    padding: 1%;
  }
  .form-inline input{
    width: 20%;
  }
  #clear{
    min-width: 10%;
  }

  /* Style the submit button */
  .form-inline button:hover {
    background-color: rgb(39, 105, 30);
  }
 
  @media (max-width: 1200px) {
   
  }

  @media (max-width: 1000px) {
    #clear{
      width: 20%;
      margin-top: 3%;
    }
  }

  @media (max-width: 770px) {
  .form-inline{
    flex-direction: column;
    justify-content: space-evenly;
  }
  .form-inline input{
    min-width: 50%;
    margin-top: 3%;
  }
  #clear{
    width: 40%;}
  button{
    margin-top: 3%;
  }
}
  .accordion-toggle{
    color: #044e29;
    text-decoration: none;
  }
  
  .accordion-toggle:hover{
    color: #11a018;
  }
     
  .panel-heading [data-toggle="collapse"]:after {

    font-family: 'fontawesome';
    content: "\f054";
    /* "play" icon */
    float: right;
    color: #17af3d;
    font-size: 22px;
    line-height: 22px;
    /* rotate "play" icon from > (right arrow) to down arrow */
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.panel-heading [data-toggle="collapse"].collapsed:after {
    /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    color: #454444;
}
.panel-title[data-toggle="collapse"]:after {
  text-decoration: none;
  color: #454444;
}