<div class="container">
  <div class="panel-group" id="accordion">
    <div class="panel mt-3">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">
            Filters & Sorting Posts</a>
        </h4>
      </div>
      <div id="collapseEight" class="panel-collapse collapse">
        <form class="form-inline">

          <div ngbDropdown>
            <button class="btn btn-success btn-lg" id="dropdownBasic1" ngbDropdownToggle>Sorting by date</button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button class="dropdown-item btn-lg" (click)="filterDateNew()">New posts first</button>
              <button class="dropdown-item btn-lg" (click)="filterDateOld()">Old posts first</button>
            </div>
          </div>

          <input type="text" placeholder="Key words" name="title" class="form-control form-control-lg"
            [(ngModel)]="searchWords" autocomplete="off" #searchOnput='ngModel'>

          <input type="text" placeholder="Post title" name="title" class="form-control form-control-lg"
            [(ngModel)]="searchTitle" autocomplete="off" #searchInput='ngModel'>

          <input type="text" placeholder="Author email" class="form-control form-control-lg" name="author"
            [(ngModel)]="searchName" autocomplete="off" #searchOutput='ngModel'>

          <button class="btn btn-primary btn-lg" id="clear"
            (click)="searchTitle='';searchWords='';searchName=''">Clear</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div infiniteScroll [infiniteScrollDistance]="0" [infiniteScrollThrottle]="1000" (scrolled)="onScroll()">
</div>

<div *ngFor="let post of posts">
  <div *ngIf="filterTitle(post) && filterAuthor(post) && filterWords(post)">
    <app-posts [userName]='post.userName' [title]='post.title' [keyWords]='post.keyWords' [photo]='post.photo'
      [contentPost]='post.contentPost' [postDate]='post.postDate' [key]="post.key"></app-posts>
  </div>
</div>
<div *ngIf="posts?.length<1">
  <h3 class="text-center mt-5 font-weight-light"> There are no posts available :((</h3>
</div>