<section class="newPost">
  <div class="container">
    <div *ngIf="authService.user | async">
      <form class="h-100" (ngSubmit)="onSubmit(newPostForm.value)" [formGroup]="newPostForm" novalidate>
        <div class="email">
          <input formControlName="userName" *ngIf="authService.user" value="{{ (authService.user)?.email }}" /></div>
        <div class="input-group mb-3 mt-5">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Photo</span>
          </div>
          <input type="URL" class="form-control" placeholder="Place here an URL to a photo" aria-label="photo"
            aria-describedby="basic-addon1" formControlName="photo" required minlength="4" />
        </div>

        <div
          *ngIf="newPostForm.controls['photo'].invalid && (newPostForm.controls['photo'].dirty || newPostForm.controls['photo'].touched)"
          class="alert alert-danger">
          <div *ngIf="newPostForm.controls['photo'].errors.required">
            Photo is required.
          </div>
          <div *ngIf="newPostForm.controls['photo'].errors.minlength">
            Photo must be at least 4 characters long.
          </div>
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Title</span>
          </div>
          <input type="text" class="form-control" aria-label="title" placeholder="Title here"
            aria-describedby="basic-addon1" formControlName="title" required minlength="4" />
        </div>
        <div
          *ngIf="newPostForm.controls['title'].invalid && (newPostForm.controls['title'].dirty || newPostForm.controls['title'].touched)"
          class="alert alert-danger">
          <div *ngIf="newPostForm.controls['title'].errors.required">
            Title is required.
          </div>
          <div *ngIf="newPostForm.controls['title'].errors.minlength">
            Title must be at least 4 characters long.
          </div>
        </div>

        <div class="input-group mb-3">
          <textarea class="form-control" aria-label="textarea" rows="10" placeholder="Your post text here"
            formControlName="contentPost" required minlength="20"></textarea>
        </div>
        <div
          *ngIf="newPostForm.controls['contentPost'].invalid && (newPostForm.controls['contentPost'].dirty || newPostForm.controls['contentPost'].touched)"
          class="alert alert-danger">
          <div *ngIf="newPostForm.controls['contentPost'].errors.required">
            Content of post is required.
          </div>
          <div *ngIf="newPostForm.controls['contentPost'].errors.minlength">
            Content must be at least 20 characters long.
          </div>
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Key Words</span>
          </div>
          <input type="text" class="form-control" placeholder="Key words here" aria-label="keyWords"
            aria-describedby="basic-addon1" formControlName="keyWords" (ngModel)="keyWords" required minlength="4" />
          <!-- <select type="text" class="form-control" placeholder="Key words" aria-label="keyWords"
            aria-describedby="basic-addon1" formControlName="keyWords" (ngModel)="keyWords" required>
            <option value="" disabled selected hidden>Choose cathegory of your post</option>
            <option>Sport</option>
            <option>Fashion</option>
            <option>Food</option>
            <option>Life Story</option>
          </select> -->
        </div>
        <div
          *ngIf="newPostForm.controls['keyWords'].invalid && (newPostForm.controls['keyWords'].dirty || newPostForm.controls['keyWords'].touched)"
          class="alert alert-danger">
          <div *ngIf="newPostForm.controls['keyWords'].errors.required">
            Key words are required.
          </div>
          <div *ngIf="newPostForm.controls['keyWords'].errors.minlength">
            Key words must be at least 4 characters long.
          </div>
        </div>

        *Post publication will be available when you fill in all fields
        <button type="submit" class="btn btn-success float-right" [disabled]="newPostForm.invalid"
          onclick="window.location='index.html'">Publish</button>
      </form>
    </div>
  </div>
</section>