<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 *ngIf="authService.user | async" class="modal-title font-weight-normal">Welcome
                    {{ (authService.user | async)?.email }}!</h5>
                <h5 *ngIf="!(authService.user | async)" class="modal-title font-weight-normal"
                    id="exampleModalLongTitle">Sign In</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div *ngIf="authService.user | async">
                <button type="submit" class="btnLogin mb-3" (click)="logout()" >
                    Logout
                </button>
                </div>
                <div *ngIf="!(authService.user | async)">
                    <!-- md-errors-spacer -->
                    <div class="alert alert-danger" [hidden]="(contactemail.untouched || psw.untouched) || (contactemail.valid && psw.valid)">
                                    Email or password is wrong
                            </div>
                    <input class="form-control mb-3" aria-label="Email" aria-describedby="basic-addon1"
                        placeholder="Enter Email" type="text" autocomplete="email" #contactemail="ngModel"
                        [(ngModel)]="email" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                    <div class="alert alert-danger" [hidden]="contactemail.valid || contactemail.untouched">
                        <div *ngIf="contactemail.errors && contactemail.errors.required">
                            Email is required
                        </div>
                        <div *ngIf="contactemail.errors && contactemail.errors.pattern">
                            Email is invalid
                        </div>
                    </div>


                    <input class="form-control mb-3" autocomplete="current-password" aria-label="password"
                        aria-describedby="basic-addon1" placeholder="Enter Password" type="password"
                        [(ngModel)]="password" #psw="ngModel" required>
                    <div class="alert alert-danger" [hidden]="psw.valid || psw.untouched">
                        <div *ngIf="psw.errors && psw.errors.required">
                            Password is required
                        </div>
                    </div>


                    <span class="psw mb-3">Forgot <a href="#" (click)="resetPassword('SSForum@angularfirebase.com')">password?</a></span>
                    <label>
                        <input type="checkbox" checked="checked" name="remember"> Remember me
                    </label>
                    <br />

                    <button type="submit" class="btnLogin mb-3" (click)="login()" [disabled]="contactemail.invalid || psw.invalid">
                        Login
                    </button>

                    <div class="login-or">
                        <hr class="hr-or">
                        <span class="span-or">or</span>
                    </div>

                    <button type="submit" class="cancelbtn" (click)="signup()" [disabled]="contactemail.invalid || psw.invalid">
                        Signup
                    </button>
                    <br />

                    <p>By creating an account you agree to our <a routerLink="privacy" href="#privacy.html"
                            data-dismiss="modal" aria-label="Close" style="color:dodgerblue">Terms & Privacy</a>.</p>

                </div>

                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>
</div>


<!-- <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <h5 class="modal-title" id="exampleModalLongTitle">Sign In</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">


                <input type="text" class="form-control mb-3" aria-label="Username" aria-describedby="basic-addon1"
                    placeholder="Enter Username" formControlName="userName" required minlength="4"/>

                <input type="password" class="form-control mb-3" aria-label="password" aria-describedby="basic-addon1"
                    placeholder="Enter Password" formControlName="password" required minlength="4"/>
                <span class="psw mb-3">Forgot <a href="#">password?</a></span>
                <label>
                    <input type="checkbox" checked="checked" name="remember"> Remember me
                </label>
                <br />
                <button type="submit" class="btnLogin mb-3" [disabled]="LoginForm.invalid" onclick="window.location='index.html'">Sign In</button>


                <div class="login-or">
                    <hr class="hr-or">
                    <span class="span-or">or</span>
                </div>
                <h5 class="modal-title mb-3" id="exampleModalLongTitle">Sign Up Here!</h5>

                <input type="text" class="form-control mb-3" aria-label="Username" aria-describedby="basic-addon1"
                    placeholder="Enter Username" name="uname" required>

                <input type="text" class="form-control mb-3" aria-label="Username" aria-describedby="basic-addon1"
                    placeholder="Enter Email" name="uname" required>
                <input type="password" class="form-control mb-3" aria-label="Username" aria-describedby="basic-addon1"
                    placeholder="Enter Password" name="psw" required>

                <input type="password" class="form-control mb-3" aria-label="Username" aria-describedby="basic-addon1"
                    placeholder="Enter Password Again" name="psw" required>

                <label>
                    <input type="checkbox">I'm not a robot
                </label>
                <br />
                <button type="submit" class="cancelbtn">Sign Up!</button>
                <br />
                <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms &
                        Privacy</a>.</p>

                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
</div> -->