.cancelbtn {
    width: 100%;
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    font-size: 15px;
    background-color: #4d3bee;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 5px;
  }
  .btnLogin{
    width: 100%;
    padding: 7px 10px;
    color: white;
    font-size: 15px;
    background-color: #0f8b2e;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 5px;
  }

  span.psw {
    float: right;
  }
  .login-or {
    position: relative;
    color: #aaa;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    }
    .span-or {
    display: block;
    position: absolute;
    left: 50%;
    top: -2px;
    margin-left: -25px;
    background-color: #fff;
    width: 50px;
    text-align: center;
    }
    .hr-or {
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    }