<div class="container">
  <div class="card mb-3">
    <img class="card-img-top" src="{{photo}}" alt="Card image cap" onerror="this.src='https://cdn.browshot.com/static/images/not-found.png'"/>
    <div class="card-body">
      <h5 class="card-title">{{title}}</h5>
      <p class="card-text">{{contentPost}}</p>
      <p class="card-text"><small class="text-muted"> {{postDate}} posted by <a href="#">{{userName}}</a></small></p>
      <p class="card-text text-right"><small class="text-muted">Key words : {{keyWords}}</small></p>
    </div>
  </div>
</div>